body {
    background: url('../images/fondoweb.png');
    background-size: 100%;
    background-position: absolute;
    background-repeat: repeat-y;
    font-family: 'Helvetica', sans-serif;
    padding: 50px 15px 20px;
    font-size: 17px;
}

img {
    max-width: 100%;
    height: auto;
}

h2.heading {
    font-size: 2.3em;
    font-weight: 300;
    margin: 0 0 15px;
    text-align: center;
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #91a7b6;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fff
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s
}

header ul {
    display: contents;
    background: rgb(54, 67, 90);
    text-align: center;
    padding: 10px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block;
}

header a {
    display: block;
    color: red;
    padding: 10px
}

header a:hover {
    color: #dddddd;
    text-decoration: none;
    background: red;
    border-radius: 4px
}

header a:focus {
    color: #ffffff;
    text-decoration: none
}

header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

#menu.active {
    display: block
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fff;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #c5d7e2
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

#lead {
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-size: cover;
    padding: 15px;
    overflow: hidden
}

#lead-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: lighter;
}

#lead-content h1,
#lead-content h2 {
    margin: 0
}

#lead-content h1 {
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em
}

#lead-content #logo {
    color: red;
    font-size: 3.5em;
    margin-top: 1rem;
}

#lead-content #logo img {
    width: 40px;
    margin-left: 0.5rem;
    margin-top: -1.5rem;

}

#lead-content h2 {
    color: #ffffff;
    font-weight: 400;
    font-size: 2.20em;
    margin-bottom: 15px
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#lead-down {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 15px;
    color: red;
}

#lead-down span {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid red;
    text-align: center
}


#lead-down i {
    animation: pulsate 1.5s ease;
    animation-iteration-count: infinite;
    padding-top: 5px
}

#about {
    padding: 50px 15px 20px;
}

#about p {
    color: black;
    margin: 0;
    text-align: center;
    padding: 2rem;
}

#player-overlay {
    position: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    text-align: center;
}

video {
    display: block;
    width: 100%;
    height: 100%;
}

#education {
    padding: 50px 15px 20px;
    text-align: center;
    background-size: cover;
}


.education-block {
    max-width: 700px;
    margin: 0 auto 30px;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 4px;
}

.education-block .education-date {
    color: red;
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: red;
}

.education-block span {
    color: #74808a;
    float: right
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px
}

#otroscursos {
    padding: 50px 15px 20px;
    text-align: center;
    background-size: cover;
}

.otroscursos-block {
    max-width: 700px;
    margin: 0 auto 30px;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 4px;
}

.otroscursos-block .otroscursos-date {
    color: red;
}

.otroscursos-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: red;
}

.otroscursos-block span {
    color: #74808a;
    float: right
}

.otroscursos-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px
}

#experiencia {
    padding: 50px 15px 20px;
    text-align: center;
    background-size: cover;
}

.experiencia-block {
    max-width: 700px;
    margin: 0 auto 30px;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 4px;
}

.experiencia-block .experiencia-date {
    color: red;
}

.experiencia-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: red;
}

.experiencia-block span {
    color: #74808a;
    float: right
}

.experiencia-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px
}

.experiencia-block p {
    margin: 0;
    color: #000000;
    font-size: 0.9em
}

#skills {
    padding: 50px 15px;
    text-align: center;
}

#skills img {
    max-width: 100%;
    display: center;
    height: auto;
    margin-bottom: 85px;
}

#portfolio {
    padding: 50px 40px 20px;
    text-align: center;
}

#portfolio p {
    color: black;
    margin: 0px;
    text-align: center;
    padding: 4rem;
    font-size: 17px;
}


.white-button a {
    display: inline-block;
    padding: 12px 20px;
    background-color: orange;
    color: white;
    font-size: 13px;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.5s;
    text-decoration: none;
}

.white-button a:hover {
    background-color: #a43f49;
    color: #fff;
}

#contact {
    padding: 50px 15px 20px;
    text-align: center;
}

footer {
    padding: 50px 0
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: #74808a
}

.social {
    text-align: center
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px
}

.social a:hover {
    color: #3498db
}
